In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
from vnstock import *

In [2]:
industry = [
    "Financial Services",
    "Real Estate",
    "Insurance",
    "Electricity, Water, and Gas",
    "Banking",
    "Basic Resources",
    "Chemicals",
    "Food and Beverage",
    "Tourism and Entertainment",
    "Retail",
    "Oil and Gas",
    "Information Technology",
    "Telecommunications",
    "Automobiles and Parts",
    "Personal Care and Household Goods",
    "Media",
    "Health",
    "Construction and Materials",
    "Industrial Goods and Services"
]
industry_df = pd.DataFrame({
    'IndustryId': range(1, len(industry) + 1),
    'IndustryName': industry
})
industry_df

    IndustryId                       IndustryName
0            1                 Financial Services
1            2                        Real Estate
2            3                          Insurance
3            4        Electricity, Water, and Gas
4            5                            Banking
5            6                    Basic Resources
6            7                          Chemicals
7            8                  Food and Beverage
8            9          Tourism and Entertainment
9           10                             Retail
10          11                        Oil and Gas
11          12             Information Technology
12          13                 Telecommunications
13          14              Automobiles and Parts
14          15  Personal Care and Household Goods
15          16                              Media
16          17                             Health
17          18         Construction and Materials
18          19      Industrial Goods and Services

In [3]:
in_1 = ['SSI', 'VND', 'VCI', 'SHS', 'HCM', 'VIX', 'FTS', 'MBS', 'BSI']
in_2 = ['VHM', 'VIC', 'BCM', 'VRE', 'NVL', 'KBC', 'KDH', 'SSH', 'DIG',
       'NLG', 'DXG']
in_3 = ['BIC', 'PVI', 'BMI', 'MIG', 'BVH']
in_4 = ['POW', 'PGV', 'DNH', 'VSH', 'NT2', 'DTK', 'HND', 'QTP', 'SBH', 'GAS', 'GEG']
in_5 = ['MBB', 'VCB', 'BID', 'CTG', 'VPB', 'TCB', 'ACB', 'SSB', 'STB', 'VIB',
       'HDB', 'SHB', 'TPB', 'LPB', 'EIB']
in_6 = ['HPG', 'HSG', 'NKG', 'TVN', 'DHC', 'TNA']
in_7 = ['GVR', 'AAA', 'DPR', 'BRR', 'DGC', 'DCM', 'DPM']
in_8 = ['MSN', 'VNM', 'MCH', 'VSF', 'QNS', 'KDC', 'IDP', 'SBT']
in_9 = ['VJC', 'HVN', 'SCS', 'ACV']
in_10 = ['MWG', 'FRT', 'DGW', 'SAS', 'PET', 'AST']
in_11 = ['PLX', 'BSR', 'OIL', 'PVS']
in_12 = ['FPT']
in_13 = ['FOX']
in_14 = ['CTF', 'SVC', 'HAX']
in_15 = ['PNJ', 'LIX', 'NET']
in_16 = ['HTP']
in_17 = ['IMP', 'DHG', 'DVN', 'DBD', 'TRA', 'DMC']
in_18 = ['C4G', 'HUT', 'VCG', 'SNZ', 'LGC', 'CTR', 'PC1', 'CC1', 'CII', 'SJG',
       'HHV']
in_19 = ['GEX', 'GEE', 'TBD']

In [4]:
lists_stock_of_industry = [
    in_1, in_2, in_3, in_4, in_5, in_6, in_7, in_8, in_9, in_10, in_11, in_12, in_13, in_14, in_15, in_16, in_17, in_18, in_19
]
stock_to_id = {}

for i, code_list in enumerate(lists_stock_of_industry, start=1):
    for code in code_list:
        stock_to_id[code] = i
print(stock_to_id)

{'SSI': 1, 'VND': 1, 'VCI': 1, 'SHS': 1, 'HCM': 1, 'VIX': 1, 'FTS': 1, 'MBS': 1, 'BSI': 1, 'VHM': 2, 'VIC': 2, 'BCM': 2, 'VRE': 2, 'NVL': 2, 'KBC': 2, 'KDH': 2, 'SSH': 2, 'DIG': 2, 'NLG': 2, 'DXG': 2, 'BIC': 3, 'PVI': 3, 'BMI': 3, 'MIG': 3, 'BVH': 3, 'POW': 4, 'PGV': 4, 'DNH': 4, 'VSH': 4, 'NT2': 4, 'DTK': 4, 'HND': 4, 'QTP': 4, 'SBH': 4, 'GAS': 4, 'GEG': 4, 'MBB': 5, 'VCB': 5, 'BID': 5, 'CTG': 5, 'VPB': 5, 'TCB': 5, 'ACB': 5, 'SSB': 5, 'STB': 5, 'VIB': 5, 'HDB': 5, 'SHB': 5, 'TPB': 5, 'LPB': 5, 'EIB': 5, 'HPG': 6, 'HSG': 6, 'NKG': 6, 'TVN': 6, 'DHC': 6, 'TNA': 6, 'GVR': 7, 'AAA': 7, 'DPR': 7, 'BRR': 7, 'DGC': 7, 'DCM': 7, 'DPM': 7, 'MSN': 8, 'VNM': 8, 'MCH': 8, 'VSF': 8, 'QNS': 8, 'KDC': 8, 'IDP': 8, 'SBT': 8, 'VJC': 9, 'HVN': 9, 'SCS': 9, 'ACV': 9, 'MWG': 10, 'FRT': 10, 'DGW': 10, 'SAS': 10, 'PET': 10, 'AST': 10, 'PLX': 11, 'BSR': 11, 'OIL': 11, 'PVS': 11, 'FPT': 12, 'FOX': 13, 'CTF': 14, 'SVC': 14, 'HAX': 14, 'PNJ': 15, 'LIX': 15, 'NET': 15, 'HTP': 16, 'IMP': 17, 'DHG': 17, 'DVN': 17, 'DBD': 17, 'TRA': 17, 'DMC': 17, 'C4G': 18, 'HUT': 18, 'VCG': 18, 'SNZ': 18, 'LGC': 18, 'CTR': 18, 'PC1': 18, 'CC1': 18, 'CII': 18, 'SJG': 18, 'HHV': 18, 'GEX': 19, 'GEE': 19, 'TBD': 19}

In [5]:
df = pd.DataFrame(columns=['Ticker', 'Industry', 'Revenue', 'PostTaxProfit', 'Debt', 'Asset', 'Equity'])
url = "https://apipubaws.tcbs.com.vn/tcanalysis/v1/finance/"
for stock_list in lists_stock_of_industry:
    for stock in stock_list:
        response = requests.get(url + stock + "/incomestatement?yearly=0&isAll=true")
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            income_data = json.loads(soup.text)
        latest_data = income_data[0]
        ticker = latest_data['ticker']
        revenue = latest_data['revenue']
        postTaxProfit = latest_data['postTaxProfit']
            
        response = requests.get(url + stock + "/balancesheet?yearly=0&isAll=true")
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            balancesheet_data = json.loads(soup.text)
        latest_data = balancesheet_data[0]
        debt = latest_data['debt']
        asset = latest_data['asset']
        equity = latest_data['equity']
        
        row = {'Ticker': ticker, 'Industry': stock_to_id[ticker], 'Revenue': revenue, 'PostTaxProfit': postTaxProfit, 'Debt': debt, 'Asset': asset, 'Equity': equity}
        df = pd.concat([df, pd.DataFrame([row])], ignore_index = True)

In [6]:
df

    Ticker Industry Revenue PostTaxProfit   Debt  Asset Equity
0      SSI        1    1680           567  28143  50136  21994
1      VND        1    1604           429  26970  42050  15080
2      VCI        1     501           117   7150  14520   7370
3      SHS        1     308           141    944  10771   9828
4      HCM        1     588           157   6381  14300   7919
..     ...      ...     ...           ...    ...    ...    ...
110    SJG       18    1275           230  14547  23560   9012
111    HHV       18     612           109  27517  36079   8562
112    GEX       19    7996           652  31035  52438  21403
113    GEE       19    3854            87  10320  16199   5878
114    TBD       19     358             3    690   1281    591

[115 rows x 7 columns]

In [7]:
industry_df.to_csv('data/industry_df.csv', index = False, encoding='utf-8-sig')
df.to_csv('data/stocks.csv', index = False, encoding='utf-8-sig')